

<div class="row">
<center>
	<div class="col-md-6">
		<h3 class="burgers">Burgers To Devour</h3>
			<div id="readyEat">
			{{words}}
			{{words1}}
			{{words2}}
			{{words3}}
			{{!-- 	{{#each burgers}}
					{{#unless devoured}}
					<form action="burger/eat/{{id}}?_method=PUT" method="post">
						<div class="input-group burgers">
							<li class="form-control">{{id}}. {{burger_name}}</li>
								<span class="input-group-btn">
									<button class="btn btn-success devour-button" type="submit">Devour!</button>
								</span>
							</div>
						</form>			
					{{/unless}}
				{{/each}} --}}
		</div>
				
				
	</div>
</center>

	{{!-- Devoured Column  --}}
	<center>
		<div class="col-md-6">
			<h3 class="devoured_burgers">Devoured Burgers</h3>
				<div id="devoured">				
				<form class="input-group meal" action="/db" method="get">
				<input type="text" id= "mealName" name="mealName"></input>
				<label for="mealName">Meal Name</label><br>
				<button type="submit">Get Nutrinfo</button>
				</div>
			</div>
		</center>					

</div>					
<br><br>

<div class="row">
	<center>
	<form class="input-group meal" action="/db" method="post">
		<input type="text" name="mealName"></input>
		<label for="mealName">Meal Name</label><br>
		<input type="text" name="ingredient1"></input>
		<label for="ingredient1">Ingredient# 1</label><br>
		<input type="text" name="ingredient2"></input>
		<label for="ingredient1">Ingredient# 2</label><br>
		<input type="text" name="ingredient3"></input>
		<label for="ingredient1">Ingredient# 3</label><br>
			<button type="submit">create a meal</button>
	</form>	
	</center>
</div>	


</div>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
            <script src="assets/js/index.js"></script>    