<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid navstyle">
    <div class="navbar-header t-font">
      <h3 id="header-logo">Overlord</h3>
    </div>
  </div>
</nav>
<!-- Welcome page -->
<container>
<div class="row">
  <div class="col-md-1"></div>
  <!-- settings/config options -->
  <div class="col-md-2 settings">
    <p class="t-font">Settings</p>
    <ul class="home-settings b-font">
      <li> <a href="#">Recipe Book</li></a>
      <li> <a href="#">Update Info</li></a>
      <li> <a href="#">Sign Out</li></a>
    </ul>
  </div>
  <!-- main content -->
  <div class="col-md-6">
    <div class="page-header t-font">
      <h1>Welcome {{users.name}} <br>
      <small>Find new recipes, articles, and your profile here!</small></h1>
    </div>
    <div class="boxItem">
      <div class="row">
        <ul>
          {{#each meals}}
          <li>
            <div class="col-md-6 b-font">
              <h3 id="foodItem">{{this.meal_name}}</h3>
              <img src="http://images.media-allrecipes.com/userphotos/250x250/3570996.jpg">
            </div>
            <div class="col-md-5 nutrInfo b-font">
              <ul>
                <li>
                  <p>Total Calories: {{this.calories}} </p> 
                  <p>Total Fat: {{this.fat}} </p>
                  <p>Total Protein: {{this.protein}}</p>
                  <p>Total Carbohydrates: {{this.carbs}}</p>
                </li>
              {{/each}}
              </ul>
            </div>
           </li>        
          </ul>
      </div>
    </div>
  </div>
  <!-- user info -->
  <div class="col-md-2 b-font">
  
    <h3>{{users.name}}</h3>
    <img src="http://www.surveyadventure.com/paidsurveys/wp-content/uploads/2010/04/blog-gym1.jpg" alt="gym-in-gym" class="img-thumbnail">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. </p>
  </div>
  <div class="col-md-1"></div>
</div>
</container>